---
- name: Install nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Create nginx configuration directory
  file:
    path: /etc/nginx/conf.d
    state: directory
    mode: '0755'

- name: Configure nginx load balancer
  template:
    src: nginx-loadbalancer.conf.j2
    dest: /etc/nginx/conf.d/loadbalancer.conf
  notify: restart nginx

- name: Remove default nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: restart nginx

- name: Ensure nginx is running and enabled
  service:
    name: nginx
    state: started
    enabled: yes
