---
- name: Include dynamic environment variables
  import_playbook: ../dynamic-assignments/env-vars.yml

- name: Apply common configuration to all servers
  import_playbook: ../static-assignments/common.yml

- name: Configure UAT webservers
  import_playbook: ../static-assignments/uat-webservers.yml

- name: Configure general webservers
  import_playbook: ../static-assignments/webservers.yml

- name: Configure database servers
  import_playbook: ../static-assignments/database.yml

- name: Configure load balancers
  import_playbook: ../static-assignments/loadbalancers.yml
